@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --base-primary-white: #fefefe;
  --base-secondary-white: #fafafa;
  --base-primary-black: #232323;
  --base-secondary-black: #333333;
  --base-light-grey: #f0f0f0;
  --base-dark-grey: #4e4e4e;
  --base-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  --reverse-bg: var(--base-primary-black);

  --page-container-max-width: 1200px;
  --page-bg: var(--base-primary-white);
  --page-text-color: var(--base-primary-black);

  --nav-bar-shadow: 0px 10px 19px -8px var(--page-bg);
  --overlay-shadow: inset 0px -28px 20px -20px var(--page-bg);

  --card-bg: var(--base-secondary-white);
  --card-color: var(--base-secondary-black);
  --card-border: var(--base-light-grey);

  --button-bg: var(--base-light-grey);
  --button-color: var(--base-secondary-black);
  --button-hover-bg: var(--base-primary-black);
  --button-hover-color: var(--base-secondary-white);
}

[data-theme="dark"] {
  --reverse-bg: var(--base-primary-white);
  --page-bg: var(--base-primary-black);
  --page-text-color: var(--base-primary-white);

  --nav-bar-shadow: -1px 10px 19px -8px var(--page-bg);
  --overlay-shadow: inset 0px -28px 20px -20px var(--page-bg);

  --card-bg: var(--base-secondary-black);
  --card-color: var(--base-secondary-white);
  --card-border: var(--base-dark-grey);

  --button-bg: var(--base-dark-grey);
  --button-color: var(--base-secondary-white);
  --button-hover-bg: var(--base-primary-white);
  --button-hover-color: var(--base-secondary-black);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: all 0.2s ease-in-out;
  background-color: var(--page-bg);
  color: var(--page-text-color);
  /* min-height: 100vh; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("/image/circle_1.svg") 7 7, auto;
  caret-shape: block;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-size: 12px;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--page-bg);
  background: var(--reverse-bg);
}

::selection {
  color: var(--page-bg);
  background: var(--reverse-bg);
}

[data-theme="dark"]::-moz-selection {
  /* Code for Firefox */
  color: var(--page-bg);
  background: var(--reverse-bg);
}

[data-theme="dark"]::selection {
  color: var(--page-bg);
  background: var(--reverse-bg);
}

._header {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
}

._bold {
  font-weight: 800;
}

._flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
