@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --base-primary-white: #fefefe;
  --base-secondary-white: #fafafa;
  --base-drop-white: #f1f1f1;
  --base-primary-black: #232323;
  --base-secondary-black: #333333;
  --base-drop-black: #202020;
  --base-light-grey: #f0f0f0;
  --base-dark-grey: #4e4e4e;
  --base-green: #31c95e;
  --base-red: #f86753;
  --base-yellow: #f7b933;
  --base-blue: #5cb5ff;
  --base-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  --reverse-bg: var(--base-secondary-black);
  --reverse-button-bg: var(--base-primary-black);
  --reverse-text-color: var(--base-primary-white);

  --page-container-max-width: 1200px;
  --page-bg: var(--base-primary-white);
  --page-drop-bg: var(--base-drop-white);
  --page-text-color: var(--base-primary-black);
  --reverse-page-text-color: var(--base-primary-white);

  --nav-bar-shadow: 0px 10px 19px -8px var(--page-bg);
  --overlay-shadow: inset 0px -28px 20px -20px var(--page-bg);

  --card-bg: var(--base-secondary-white);
  --reverse-card-bg: var(--base-secondary-black);
  --card-color: var(--base-secondary-black);
  --card-border: var(--base-light-grey);

  --button-bg: var(--base-light-grey);
  --button-color: var(--base-secondary-black);
  --button-hover-bg: var(--base-primary-black);
  --button-hover-color: var(--base-secondary-white);
}

[data-theme="dark"] {
  --reverse-bg: var(--base-secondary-white);
  --reverse-button-bg: var(--base-primary-white);
  --reverse-text-color: var(--base-primary-black);
  --page-bg: var(--base-primary-black);
  --page-drop-bg: var(--base-drop-black);
  --page-text-color: var(--base-primary-white);
  --reverse-page-text-color: var(--base-primary-black);

  --nav-bar-shadow: -1px 10px 19px -8px var(--page-bg);
  --overlay-shadow: inset 0px -28px 20px -20px var(--page-bg);

  --card-bg: var(--base-secondary-black);
  --reverse-card-bg: var(--base-secondary-white);
  --card-color: var(--base-secondary-white);
  --card-border: var(--base-dark-grey);

  --button-bg: var(--base-dark-grey);
  --button-color: var(--base-secondary-white);
  --button-hover-bg: var(--base-primary-white);
  --button-hover-color: var(--base-secondary-black);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: all 0.2s ease-in-out;
  background-color: var(--page-bg);
  color: var(--page-text-color);
  /* min-height: 100vh; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("/image/circle_1.svg") 7 7, auto;
  caret-shape: block;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-size: 14px;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--page-bg);
  background: var(--reverse-bg);
}

::selection {
  color: var(--page-bg);
  background: var(--reverse-bg);
}

[data-theme="dark"]::-moz-selection {
  /* Code for Firefox */
  color: var(--page-bg);
  background: var(--reverse-bg);
}

[data-theme="dark"]::selection {
  color: var(--page-bg);
  background: var(--reverse-bg);
}

._header {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
}

._bold {
  font-weight: 800;
}

._flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

._text-green {
  color: var(--base-green);
}

._text-red {
  color: var(--base-red);
}

._text-yellow {
  color: var(--base-yellow);
}

._txt-blue{
  color: var(--base-blue);
}

._bg-green {
  background-color: var(--base-green);
}

._bg-red {
  background-color: var(--base-red);
}

._bg-yellow {
  background-color: var(--base-yellow);
}

._bg-blue{
  background-color: var(--base-blue);
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 263px;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--page-text-color);
  }
}

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
